# github:
#   token: "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# anthropic:
#   api_key: "sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# slack:
#   webhook_url: "https://hooks.slack.com/services/T00/B00/xxx"
